# Create Managed Table in the gold table

In [0]:
CREATE OR REPLACE TABLE formula1_dev.gold.driver_wins
AS
SELECT d.name, count(1) AS number_of_wins
  FROM formula1_dev.silver.drivers d
JOIN formula1_dev.silver.results r
  ON (d.driver_id = r.driver_id)
WHERE r.position_order = 1
GROUP BY d.name;

In [0]:
SELECT * FROM formula1_dev.gold.driver_wins ORDER BY number_of_wins DESC;